<div class="reset-page">

  <div class="reset-card">

    <h2>Create New Password</h2>

    <label>New Password</label>

    <div class="input-box">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Enter new password">

      <span
        class="eye"
        (click)="togglePassword()">
        👁
      </span>
    </div>

    <label>Confirm Password</label>

    <div class="input-box">
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="Confirm new password">

      <span
        class="eye"
        (click)="toggleConfirmPassword()">
        👁
      </span>
    </div>

    <div class="rules">
      <p>✅ At least 8 characters</p>
      <p>✅ Include a number</p>
      <p>✅ Include an uppercase letter</p>
    </div>

    <button
      class="save-btn"
      routerLink="/password-success">
      Set New Password
    </button>

  </div>

</div>