<div class="otp-page">

  <div class="otp-card">

    <div class="back-arrow">
      ←
    </div>

    <h2>Enter OTP</h2>

    <p class="subtitle">
      We have sent a 6 digit OTP to
    </p>

    <div class="email-row">
      <span>suresh@gmail.com</span>
      <a>Edit</a>
    </div>

    <div class="otp-boxes">
      <input maxlength="1" value="3">
      <input maxlength="1" value="7">
      <input maxlength="1" value="2">
      <input maxlength="1" value="8">
      <input maxlength="1" value="1">
      <input maxlength="1" value="6">
    </div>

    <p class="timer">
      Resend OTP in <span>00:25</span>
    </p>

    <button
      class="verify-btn"
      routerLink="/reset-password">
      Verify OTP
    </button>

  </div>

</div>