<div class="forgot-page">

  <div class="forgot-card">

    <div class="back-icon">
      ←
    </div>

    <h2>Forgot Password</h2>

    <div class="icon-circle">
      🔒
    </div>

    <p class="subtitle">
      Enter your registered
      <br>
      email or mobile number
    </p>

    <input
      type="text"
      placeholder="Enter email or mobile number">

    <button
  class="send-btn"
  (click)="sendOtp()">
  Send OTP
</button>

    <a
      class="back-login"
      routerLink="/admin-login">
      Back to Login
    </a>

    

  </div>

</div>