<h2>Cart</h2>

<div *ngIf="cartItems.length === 0">
  <h3>Cart is Empty</h3>
</div>

<div *ngIf="cartItems.length > 0">

  <p>Total Items: {{ cartItems.length }}</p>

  <p>Total Price: ₹{{ totalPrice }}</p>

  <hr>

  <div *ngFor="let item of cartItems; let i = index">

    <h3>{{ item.name }}</h3>

    <p>Price: ₹{{ item.price }}</p>

    <button
      mat-raised-button
      color="warn"
      (click)="removeItem(i)">
      Remove
    </button>

    <hr>


    <button
  mat-raised-button
  color="primary"
  routerLink="/checkout">

  Checkout

</button>

  </div>

</div>