<div class="otp-page">

  <div class="otp-card">

    <div class="logo-section">
  <div class="logo-row">
    <div class="logo-icon">🥭</div>

    <div class="brand-text">
      <h2>SURESH</h2>
      <p>MANGO FARMS</p>
    </div>
  </div>
</div>

    <h1>Enter OTP</h1>

    <p class="subtitle">
      We have sent a 6 digit OTP to
    </p>

    <h4 class="phone">
      +91 8985321181
      <span class="edit" routerLink="/forgot-password">
  Edit
</span>
    </h4>

    <div class="otp-boxes">
      <input maxlength="1">
      <input maxlength="1">
      <input maxlength="1">
      <input maxlength="1">
      <input maxlength="1">
      <input maxlength="1">
    </div>

    <p class="timer">
  Resend OTP in
  <span>
    00:{{ countdown < 10 ? '0' + countdown : countdown }}
  </span>
</p>


    <button
  class="verify-btn"
  routerLink="/reset-password">
  Verify & Continue
</button>

    <p class="secure">
      🔒 Secure Login
    </p>

  </div>

</div>