<div class="success-page">

  <div class="success-card">

    <div class="success-icon">
      ✅
    </div>

    <h2>WhatsApp Login Successful!</h2>

    <p class="message">
      Welcome to Suresh Mango Farms
    </p>

    <div class="feature-card">
      🥭 Best Quality Mangoes
    </div>

    <div class="feature-card">
      🚚 On Time Delivery
    </div>

    <div class="feature-card">
      💯 Customer Satisfaction
    </div>

    <button
  class="home-btn"
  routerLink="/customer-home">
  Continue to Home
</button>

  </div>

</div>